<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <div class="row">
    <div class="card mb-4">
      <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Listes Commandes
      </div>
      <div class="card-body">
        <table datatable>
          <thead>
              <tr>

                  <th>client</th>
                  <th>Produit</th>
                  <th>Quantite</th>
                  <th>Etat</th>
                  <th>Date cmde</th>
                  <th>Montant</th>
                  <th>Action</th>
              </tr>
          </thead>
         <tbody>
          <tr>
            <td>Tiger Nixon</td>
            <td>Pro Plateau </td>
            <td> 2 </td>
            <td>
              <span class="badge bg-primary rounded-pill">En attente</span></td>
            <td>2011/04/25</td>
            <td>8000 XOF</td>
            <td>
              <button class="btn btn-primary">
                 <i class="fas fa-plus"></i>
            </button>
            </td>
        </tr>
        <tr>
          <td> Nixon </td>
          <td>Pro Plateau </td>
          <td> 3 </td>
          <td>
            <span class="badge bg-warning rounded-pill">En Cours de Livraison</span></td>
          <td>2011/04/25</td>
          <td>12000 XOF</td>
          <td>
          </td>
      </tr>
      <tr>
        <td>Tiger Nixon</td>
        <td>Pro Plateau </td>
        <td> 4 </td>
        <td>
          <span class="badge bg-success rounded-pill">Livrer</span></td>
        <td>2011/04/25</td>
        <td>16000 XOF</td>
        <td>
        </td>
    </tr>
         </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<!-- <script src="node_modules/simple-datatables/dist/umd/simple-datatables.js" crossorigin="anonymous"></script> -->
<!-- <script src="/js/datatables-simple-demo.js"></script> -->
