<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <div class="row col-md-10">
    <div class="card">
       <div class="card-header">
        Ajouter un Produit
       </div>
       <div class="card-body">

        <form class="row g-3 needs-validation was-validated" novalidate="">
          <div class="col-md-4">
            <label class="form-label" for="validationCustom01">Nom du Produit</label>
            <input class="form-control" id="validationCustom01" type="text"  required="">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="validationCustom02">Nombre de Plateau</label>
            <input class="form-control" id="validationCustom02" type="number" required="">
          </div>
          <div class="col-md-4">
            <label class="form-label" for="validationCustom03">Prix</label>
            <input class="form-control" id="validationCustom03" type="number" required="">
          </div>
          <div class="col-md-12">
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile01">Upload</label>
              <input type="file" class="form-control" >
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" id="invalidCheck" type="checkbox" value=""  />
              <label class="form-check-label mb-0" for="invalidCheck">Publier</label>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </form>

       </div>
    </div>

  </div>
</div>


