<div class="container-fluid px-4">
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">#</li>
  </ol>
  <div class="card mb-4" >
    <div class="card-header">
       <span>Produits</span>
    </div>
    <div class="card-body" >
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/assets/img/mieux_connaitre_oeuf_73066300_web.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Detail</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <!-- <span class="text-muted text-decoration-line-through">$20.00</span> -->
                500 XOF
            </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-primary btn-outline-sucess mt-auto" routerLink="/addcart" >ajouter<i class="bi bi-cart"></i></a></div>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/assets/img/plateau-porte-oeufs-en-plastique.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Plateau</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <!-- <span class="text-muted text-decoration-line-through">$25.00</span> -->
                1500 XOF
            </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-primary btn-outline-sucess mt-auto" routerLink="/addcart" >ajouter<i class="bi bi-cart"></i></a></div>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">PROMO</div>
            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 16.5rem">Plateau x 3</div>
            <img src="/assets/img/plateau-oeuf-pannelle.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Pro Plateau</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through">4500 XOF</span>
                4000 XOF
            </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-primary btn-outline-sucess mt-auto" routerLink="/addcart" >ajouter<i class="bi bi-cart"></i></a></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


